
/**
* Mixins
*/

/**
* Mixin - Font-weight
*/
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700



/**
* Mixin - Viewport
*/
viewport = 1160px


/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
// Smaller devices (phones, 320px and down)
screen-xxs = 320px
// Small devices (phones, 568px and down)
screen-xs = 568px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px


/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/

/* .container
  min-width: 0
  max-width: viewport
  margin 0 auto
  width: auto
*/

/*
* Base
* Estilo base do elementos do Html
*/

.cms-home .mini-banner
  position relative
  top -4.3rem
  margin-top 0
  @media(max-width: screen-md)
    top -6.3rem
  @media(max-width: screen-sm)
    top -7.8rem
  @media(max-width: screen-xs)
    top 0


html
    background #ffffff


.wrapper
  padding 0!important

.wrapper-container
    padding-top 2.1rem
    @media(max-width: screen-sm)
      padding-top 3rem
/*
* Header
*/
  .header-container
    margin-bottom 0!important
    box-shadow none
    @media (max-width: screen-md)
      background #fff

    .header
      max-width 80rem
      padding 1.5rem 0!important
      justify-content center
      @media(max-width: screen-md)
        padding 0.5rem 0 !important
        justify-content flex-end

      .logo
        margin-right 2rem
        @media(max-width: screen-lg)
          margin-right 1rem!important
        @media(max-width: screen-md)
          position absolute
          left 1rem
        img
          height 2rem!important
          @media(max-width: screen-sm)
            height auto!important
            max-width 8rem

      .mymenu
        @media (max-width: screen-md)
          display none
        .li--0
          display inline-flex
          margin 0 .5rem
          margin-bottom 0!important
          a:hover
            border-top 3px solid #ebe5e0
            transition all 100ms ease-out
          @media (max-width: screen-lg)
            margin 0 .3rem
        .a--0
          font-weight 500
          color #5f544b
          height 2.75rem
          display flex
          align-items center
          justify-content center
        .home
          margin 0
          padding 0 1rem
          @media(max-width: screen-lg)
            padding 0 .5rem

            
/*
* Menu Mobile
*/

      .categories__show.btn
        color #172B55
        background none
        @media(max-width: screen-md)
          order 1
          margin-right 1rem

/*
* FIM Menu Mobile
*/


/*
* Menu Categorias
*/
      .categories--mobi
        .all-a--0
          color #4c4037

      .categories
        background #ffffff
        padding 0!important
        margin 0!important
        .categories__hide.btn--close
          color #162B55
          background none
        .ul--0
          .categories__all
            display none
            @media(max-width: screen-md)
              display block!important
          .removed
            position relative!important
            top 0!important
            left 0!important
          .li--0
            .a--0
              background transparent
              color #5f544b
              @media(max-width: screen-lg)
                padding 0 .5rem
            .a--0:hover
              background transparent
              color #5f544b
              border-top 3px solid #ebe5e0
            .promo--products
              background #ebe5e0
              z-index 21
              .ul--1
                padding 1rem 2rem
                .li--1:hover
                  font-weight 700
                .li--1
                  .a--1
                    color #5f544b
                    padding .2rem 5px
                  .a--1:hover
                    box-shadow -0.5rem 0 0 #5f544b
              .categories__products
                border none
                display flex
                align-items flex-end
                .title
                  display none
                ul
                  .products__item
                    .products__case
                      .product__main
                        display none
/*
* FIM Menu Categorias
*/

      .myaccount
        height 3.45rem
        width 4rem
        @media (max-width: screen-lg)
          height auto
          margin-left .5rem!important
        @media (max-width: screen-sm)
          height auto
          width auto

        .myaccount__header
          width 4rem
            @media(max-width: screen-sm)
              width 3rem
          a
            box-shadow none
            border-radius unset
            height auto
            width 4rem
            background transparent!important
            @media(max-width: screen-sm)
              width 3rem
          p
            @media(max-width: screen-sm)
              display none
          .icon_user
            width 2.05rem
            height 2.05rem
            max-height none
            margin 0
        .myaccount__content
          .myaccount__hide.btn
            color #ffffff

      .myaccount:hover
        .myaccount__header
          a
            background none!important

        .myaccount__content
          background #EbE5E0
          box-shadow none

          .myaccount__login

            .input-box
              flex 1 1 100%

              .myaccount__login-btn
                width 100%
                color #fff

          .myaccount__register .std
            margin-bottom 0
            
        .title--sm 
          color #4C4037
          font-size 1.2rem!important
          font-weight 600!important

      .mycart
        margin-left 0!important
        @media(max-width: screen-md)
          height auto
          margin-right 1rem
        a
          color #4c4037
        .mycart__header
          display flex
          align-items center
          a
            box-shadow none
            border-radius unset
            height auto
            width 4rem
            background transparent!important
            @media(max-width: screen-sm)
              width 3rem
            .icon_cart
              width 2.05rem
              height 2.05rem
              max-height none
              margin 0

        .mycart__content
          box-shadow inset 0 0 0 rgba(23,43,85,0), inset 0 0 0 0 rgba(0,0,0,0.1), 0 1rem 1rem rgba(0,0,0,0.1)
          .mycart__hide.btn
            color #ffffff
          .title
            font-size 1.3rem
            font-weight 600
            text-align center
            color #4c4037
            padding 1rem 0
            border-bottom 1px solid #ebebeb
          .mycart__list
            .mycart__item
              border-bottom 1px solid #ebebeb
              margin-bottom 0
              .mycart__details
                .mycart__name
                  a
                    font-weight 600
          .mycart__totals
            display flex
            justify-content space-between
            align-items baseline
            padding 0 .5rem
            .title
              font-size 1.1rem
              color #2c2829
              border none
              margin-bottom 0
            .regular-price
              .label
                display none
              .price
                color #2c2829
                font-size 1.2rem
                font-weight 600
            .price-box-avista, .price-box-parcelado
              display none
          .mycart__actions
            display flex
            align-items center
            justify-content center
            flex-flow column-reverse
            padding-top 1rem
            margin 0
            a.finalizar
                background #172b55
                padding 0.6rem 0.8rem
                width 9rem
                text-align center
                color #fff
            a.editar
              color #c7c7c7
              font-size 0.9rem
              font-weight 600
      .mycart:hover
        .mycart__header
        a
          background none
/*
* FIM Header
*/

/* 
* Banner
*/

  .banner
    margin 0!important
    .banner__wrapper
      column-count 1
      @media(max-width: screen-md)
        top -2rem
      @media(max-width: screen-sm)
        top -3.5rem
      @media(max-width: screen-xs)
        top 0
      img
        min-width 100vw
      .banner__link
        height 688px!important
        @media(max-width: screen-xs)
          height auto!important
        .d_img
          height 80%!important
         @media(max-width: screen-md)
          .d_img
            display block!important
          .m_img
            display none!important
        @media(max-width: screen-xs)
          .d_img
            display none!important
          .m_img
            display block!important
      .banner__link:hover
        opacity unset
      .owl-controls
        .owl-prev, .owl-next
          background none
          border none
          box-shadow none
        .owl-prev
          left 7rem
          right auto
        .owl-next
          left auto
          right 7rem
        .owl-prev:before
          background none
          color rgba(0, 0, 0, 0.45)
        .owl-next:before
          background none
          color rgba(0, 0, 0, 0.45)

/*
* Mini Banners
*/
  .mini-banner
    display flex
    align-items center
    justify-content space-around
    /* max-width 1055px */
    height 5rem
    padding 0 15vw
    background #FAF9F8
    margin-top 4.4rem
    @media (max-width: screen-lg)
      padding 0 10vw
    @media (max-width: screen-md)
      padding 0 3vw
      margin-top 2.3rem
    @media (max-width: screen-sm)
      margin-top .7rem
    @media (max-width: screen-xs)
      justify-content center
      flex-flow column
      height auto
      padding 1rem 0


    .mn-banner_1
      font-size 1.1rem
      @media (max-width: screen-md)
        font-size 1rem
      @media (max-width: screen-xs)
        margin .3rem 0
      .icon_truck
        position relative
        max-width 1.5rem
        height 1.2rem
        margin 0 .3rem
        top .2rem
    
    .mn-banner_2
      font-size 1.1rem
      @media (max-width: screen-md)
        font-size 1rem
      @media (max-width: screen-xs)
        margin .3rem 0
      .icon_tag
        position relative
        max-width 1.5rem
        height 1.2rem
        margin 0 .3rem
        top .2rem
    
    .mn-banner_3
      font-size 1.1rem
      @media (max-width: screen-md)
        font-size 1rem
      @media (max-width: screen-xs)
        margin .3rem 0
      .icon_creditcard
        position relative
        max-width 1.5rem
        height 1.2rem
        margin 0 .3rem
        top .2rem

/*
* Conteudo
* Main
*/

  .breadcrumb
    margin-top 2rem!important
    margin-bottom 2rem!important
    .breadcrumb__list
      justify-content center
      .breadcrumb__last
        color #4c4037

  .main-container
    max-width 65rem
    /* margin-top 4rem */
    @media (max-width: screen-lg)
      max-width 55rem
    @media (max-width: screen-md)
      padding 0 2rem
 
    .products
      margin-bottom 3rem
      .products__title
        font-size 1.5rem
        color #5f544b
        margin-bottom 2rem
        @media(max-width: screen-sm)
          text-align center

      .products__list
        .ias-noneleft
          display none!important
        .owl-controls
          display block!important
          .owl-pagination
            display none
          .owl-buttons
            .owl-prev, .owl-next
              background none
              border none
              box-shadow none
            .owl-prev
              left -5rem
              right auto
            .owl-next
              right -5rem
              left auto
            .owl-prev:before
              background none
              color rgba(204, 204, 204, 0.65)
            .owl-next:before
              background none
              color rgba(204, 204, 204, 0.65)

      .products__case
        box-shadow none

        .product__main
          text-align center
          .product__name:after
            display none

          .product__name
            font-size 1rem
            font-weight 600
            color #4c4037!important
            opacity 0.8
            margin-bottom 0
          .product__brand
            a
              color #837975

          .price-box-avista
            display block
            text-align center

/*
* Rodapé
* Footer
*/

  .footer-container
    background #FAF9F8
    padding 0
    @media(max-width: screen-xs)
      margin 0 -1rem
    .footer
      max-width 65rem
      .footer-banners
        display flex
        justify-content space-around
        padding 3rem 0
        @media (max-width: screen-xs)
          align-items center
          flex-flow column
        .ft-banner_1
          max-width 50%
          text-align center
          @media (max-width: screen-xs)
            max-width 100%
          p
            float left
            margin-left .7rem
            display inline
            font-size 1.4rem
            font-weight 600
            color #4c4037
            @media(max-width: screen-xs)
              width 100%
          img
            max-width 95%
            margin 1rem 0
        .ft-banner_2
          max-width 50%
          text-align center
          @media (max-width: screen-xs)
            max-width 100%
          p
            float left
            margin-left .7rem
            font-size 1.4rem
            font-weight 600
            color #4c4037
            @media(max-width: screen-xs)
              width 100%
          img
            max-width 95%
            margin 1rem 0
      .newsletter
        background rgb(255, 255, 255)
        box-shadow -980px 0 0 rgb(255, 255, 255), 980px 0 0 rgb(255, 255, 255)
        margin-bottom 0
        padding 1.5rem 2rem
        .newsletter__form
          flex-flow nowrap
          margin 0
          .newsletter__email
            padding 0
            input
              border 0
              border-bottom 2px solid rgba(0, 0, 0, .1)
              box-shadow none
              border-radius unset
              @media(max-width: screen-xs)
                text-align center
          .newsletter__submit
            padding 0
            .newsletter__btn
              background #ffffff
              color #5F544B
              border-bottom 2px solid rgba(0, 0, 0, .1)
              border-radius 0
              box-shadow none
              padding .8em 1em
              font-weight 600
          .newsletter__text
            margin-bottom 0
            flex 1 1 50%
            padding 0
            .title
              display flex
              justify-content center
              align-items center
              font-size 1rem
              font-weight 600
              text-align left
              color#4c4037
              @media(max-width: screen-xs)
                text-align center
              .icon_envelope
                max-width 1.5rem
                max-height 1.5rem
                margin 0 .5rem
        .newsletter__message
          color #FFFFFF!important
      .mymenu
        display flex
        justify-content center
        background #4c4037
        box-shadow -980px 0 0 #4c4037, 980px 0 0 #4c4037
        padding 1.5rem 0
        font-size 1.1rem
        .li--0
          max-width fit-content
          margin 0 2rem
          display inline-flex
          @media (max-width: screen-md)
            margin 0 1rem
          @media (max-width: screen-xs)
            margin 1rem 0
            display block
            max-width 100%
            text-align center
          a
            color #FFFFFF

/*
* Hover Login
*/

.myaccount__login .fields 
  flex-flow wrap

.myaccount__register-btn
    background #4c4037!important
    color #fff
    box-shadow none


/*
* Página do produto
*/
.catalog-product-view .main-container
  max-width 70rem

  .product-essential
    .prod-info__flutuante
      display none
      &.active
        display block
        position fixed
        max-width 17rem
        right 0
        padding 1.5rem
        background #F3F3F3
        z-index 10
        @media(max-width: screen-md)
          display none
        .btn--floater
          position absolute
          padding 0
          left .7rem
          top .7rem
          background none
          border none
          box-shadow none
          line-height 0
          font-size 2.3rem
          color #172b56
      .prod__name
        margin-bottom 1rem
        h1
          color #5f544b
          font-size 1.2rem
          line-height 1.3rem
        .brand--tag
          display none!important
      .price-box
        .old-price
          color #C7C7C7
        .special-price
          font-size 2rem
          .label
            color #172B56
            font-weight 700
      .price-box-avista
        margin-bottom 0
        flex-flow row-reverse
        justify-content flex-end
        .label
          color #444444
          font-size .7rem
          font-weight 500
        .price
          flex none
          margin-right .2rem
          color #444444
          font-size .7rem
          font-weight 500

      .price-box-parcelado
        margin-bottom 0
        .preco-parcelado-sem-juros
          display none
        .preco-parcelado
          span
            color #5f544b
            font-weight 700
      a.parcelamento__link
        color #444444
        font-size 0.9rem
      .parcelamento__link:hover div.parcelamento__hover
        display block
        background #172b56
        padding .5rem
        z-index 10
        bottom 0
        left -145px
        height 100%
      .parcelamento__hover
        display none
        position absolute
        .triangle__hover
          width 30px
          height:30px
          border-bottom solid 10px #172b56
          border-left solid 15px transparent
          border-right solid 15px transparent
          margin 0 15%
          position absolute
          top -30px
          bottom 0
          right auto
          left 0
        .parcelamento
          ul
            column-count 1
            color #fff
            font-size .7rem
            li
              position relative
              justify-content center
              border-bottom none
              padding .5rem 0
              .parcela
                span 
                  font-weight 500
              .s-juros
                font-size .7rem
                font-style normal
      &.closed
        -webkit-transition all 1.0s ease-in-out 
        -moz-transition all 1.0s ease-in-out 
        -o-transition all 1.0s ease-in-out 
        transition all 1.0s ease-in-out 
        right -18rem

  #product_addtocart_form
    @media (max-width: screen-sm)
      display block

    .prod__img
      flex 0 0 500px
      @media (max-width: screen-lg)
        flex 0 0 450px
      .product-image-container
        display flex
        flex-flow row-reverse
        @media (max-width: screen-sm)
           flex-flow column
           margin-bottom 3rem
        .product-image
          .product-image-gallery
            box-shadow none 
            border 1px solid #e7e9ee
            border-radius 5px
            .gallery-image
              height auto
              width 500px
              @media(max-width: screen-lg)
                width 450px
              @media(max-width: screen-md)
                width 400px
        .more-views
          .product-image-thumbs
            display block
            @media(max-width: screen-sm)
              display flex
            li
              min-width 5.25rem
              min-height 5.25rem
              margin 0 .5rem
              .thumb-link
                box-shadow none!important

    .prod__shop
      @media(max-width: screen-sm)
        text-align center
      a.parcelamento__link
        color #444444
        font-size 0.9rem
        @media(max-width: screen-md)
          display none
      .parcelamento__link:hover div.parcelamento__hover
        display block
        background #172b56
        padding 1rem
        z-index 10
        margin-top .5rem
      .parcelamento__hover
        display none
        position absolute
        .triangle__hover
          width 30px
          height:30px
          border-bottom solid 10px #172b56
          border-left solid 15px transparent
          border-right solid 15px transparent
          margin 0 15%
          position absolute
          top -30px
          bottom 0
          right auto
          left 0
        .parcelamento
          ul
            column-count 2
            color #fff
            font-size 0.9rem
            li
              position relative
              justify-content center
              border-bottom none
              padding 0.7rem 0
              .parcela
                span 
                  font-weight 500
              .s-juros
                font-size 0.9rem
                font-style normal
      .parcelamento--mobi
        display none
        @media(max-width: screen-md)
          display block!important
          margin-top 1rem
        .parcelamento
          ul
            .btn.btn--back
              text-align left

      .btn--back
        color #FFFFFF!important
      .prod__name 
        margin-bottom 2rem
        h1
          font-size 1.8rem
          line-height 2rem
          color #4c4037
          margin-bottom .5rem
        .brand
          padding-top 0

      .brand a
        opacity unset
        font-weight 700

      .price-box 
        .old-price
          color #c7c7c7
      .price-box-avista
        margin-bottom 0
        flex-flow row-reverse
        justify-content flex-end
        @media(max-width: screen-sm)
          justify-content center
        .label
          color #444444
          font-size 1rem
          font-weight 700
        .price
          flex 0 0 14%
          color #444444
          font-size 1rem
          font-weight 700
          @media(max-width: screen-sm)
            flex 1 1 auto
            max-width 4.5rem
      .price-box-parcelado
        margin-bottom 0
        .preco-parcelado-sem-juros
          display none
        .preco-parcelado
          span
            color #5f544b
            font-weight 700
      .special-price
        font-size 2rem
        color #172B56
        .label
          color #172B56
          font-weight 700

      .add-to-cart
        margin-top 2rem
        .add-to-cart-buttons
          position relative
          display flex
          justify-content space-between
          max-width 18rem
          margin-left 1.5rem
          @media(max-width: screen-sm)
            margin-left 0
            margin 0 auto
          .qty-wrapper
            position relative
            top -1.1rem
            left -.4rem
            transform translateY(30%)
            margin-right 1rem
            margin-bottom 0
            height 4rem

            label
              display block
              font-size .8rem
              color #C7C7C7
              text-align center
            .input-box
              input
                color #444444
                border 1px solid #e3e5ea
                background #fff
                box-shadow none
                border-radius unset
              .bt-box
                position absolute
                top 0
                right -1.2rem
                z-index 10
                border-radius 0
                box-shadow none
                transform none
                width 5rem
                height 2.75rem
                border 1px solid #e3e5ea
                .bt.plus
                  position absolute
                  line-height 0
                  height 2.65rem
                  background none
                  color #172b56
                  border-radius unset
                  left auto
                  right 0
                  top 0
                  display flex
                  align-items center
                  justify-content center
                .plus::before
                  content '+'
                  font-family unset
                  font-size 1rem
                  font-weight 600
                .bt.less
                  position absolute
                  line-height 0
                  height 2.65rem
                  background none
                  color #172b56
                  border-radius unset
                  left 0
                  right auto
                  top 0
                  display flex
                  align-items center
                  justify-content center
                .less::before
                  content '-'
                  font-family unset
                  font-size 1.5rem
          
          .add-to-cart-btn
            padding 0
            max-width 14rem
            border-radius 0
            font-size 1.4rem

      .add-to-links
        display flex
        justify-content space-between
        align-items normal
        width 20rem
        @media (max-width: screen-sm)
          justify-content center
          width auto
        @media (max-width: screen-xs)
          align-items center
          width auto
          flex-flow column
        a
          color #C7C7C7!important
          box-shadow none!important
          border none
          padding 0
          margin-right 1rem
        a:hover
          background none
          color #5F544B

      .frete__box
        display flex
        justify-content start
        align-items baseline
        margin-bottom 2rem
        @media (max-width: screen-sm)
          justify-content center
        @media (max-width: screen-xs)
          flex-flow column
        .frete__text
          font-size 1rem
          color #4c4037
          font-weight 600
          @media (max-width: screen-xs)
            width 100%
        .frete
        .frete--open
          background none
          .frete__title
            color #C7C7C7
            background none
            box-shadow none!important
            display none
          .frete__content
            display flex
            justify-content center
            align-items center
            @media (max-width: screen-md)
              position relative
              top unset
              left unset 
              width auto
              height auto
              z-index 1
              padding 0
              background transparent
              flex-flow column
            .frete__form
              max-width 13rem
              margin 0 .5rem
              @media(max-width: screen-sm)
                max-width 20rem
            a
              font-size: 0.8rem;
              color: #c7c7c7;
              font-weight: 600;
            .input-box
              .cep
                font-size 1rem
                color #C7C7C7
                background #f3f3f3
                box-shadow none
                svg 
                  display none
              .input-text
                border: none;
                box-shadow: none;
                background: #f3f3f3;
                .validate-postcode
                  background #f3f3f3!important
                  box-shadow none
                  border none!important
                  padding 0
            .frete__actions
              .btn
                background #f3f3f3
                color #162B55
                box-shadow none
                font-weight 600   
            .frete__naosei
              margin 0 .7rem
          .frete__results
            top 1rem
            left -4rem

      .sharing-links
        .list
          @media (max-width: screen-sm)
            justify-content center
        .list:before
          color #c7c7c7
          font-weight 600
        a
          background transparent
          .ico
            fill #c7c7c7
        a:before
          color #c7c7c7
  
  .product-collateral
    .related
      .title
        font-size 1.2rem
        text-align center
        color #172b56
        margin-bottom 2em
      .related__content
        .related__hide.btn
          color #ffffff
        .related__subtitle
          display none
        .products
          .owl-wrapper
            .owl-item
              .products__case
                .related__add-checkbox
                  display none
                .product__main
                  .product__name
                    margin-bottom 1rem
                  .brand__related a
                    color #7d746e
                    font-size 1.1rem
                    font-weight 700
                  .price-box
                    .old-price
                      color #cdcdcd
                      font-weight 600
                    .special-price, .regular-price
                      .label
                        font-size 1.2rem
                        color #172B56
                        font-weight 700
                      .price
                        color #172b56
                        font-size 1.3rem
    .tabs
      justify-content center
      .tabs__tab
        font-size 1.2rem
        color #172b56
        font-weight 700

        border none
      .tabs__content
        border none
        .tabs__hide.btn
          color #ffffff
        .std
          text-align center

    .jointsales
      .title
        font-size 1.2rem
        color #172b56
        font-weight 700
        text-align center
      .jointsales__content
        .jointsales__hide.btn
          color #ffffff
        .owl-wrapper-outer
          border none
          .jointsales__currentin
            flex-flow column nowrap
            box-shadow none
            .more
              width 1rem
              height 1rem
              line-height 1.1rem
              text-align center
              font-size .4rem
              color #ffffff
              background #172b55
              border-radius 100%
          .jointsales__list
            flex 0 0 30%
            .jointsales__item
              max-width 90%
              flex 0 0 100%
              .info
                margin 0 auto
                width 75%
                .title
                  text-align left
          .jointsales__payments
            display none
          .jointsales__totals
            .todos-juntos
              font-size 1rem
              font-weight 600
            .comprando-junto
              font-size 1rem
              font-weight 600
            .economize
              background #f45c5c
              border-radius unset
              padding .7rem 1.5rem
              .price
                font-weight 400
          .jointsales__action
            .btn-jointsales
              color #ffffff
              border-radius unset
              padding 17px 30px





/*
* Catálogo
*/

.catalog-category-view
  .main
    .sidebar
      display none
  .page-title
    position relative
    width fit-content
    margin 0 auto
    top 2rem
    text-align center
    @media (max-width: screen-xs)
      top -.5rem

    h1
      font-size 1.2rem
      text-transform uppercase
      font-weight 600
      color #4c4037
  .toolbar
    .amount
      color #172b55
      font-weight 700
      opacity 0.9
      @media (max-width: screen-sm)
        flex 1 1 auto
        margin-bottom 0
    .sorter
      .sort-by
        label
          margin-right 0.8rem
          font-size 0.9rem
          font-weight 700
          opacity 0.9
          color #172b56
        select 
          border none
          box-shadow none
          background #f3f3f3
    .limiter
      display none

  .product__main
    text-align center
    .product__name
       margin-bottom 1rem!important
    .brand__category a
      color #7d746e
      font-size 1.1rem
      font-weight 700
    .price-box
      .old-price
        color #cdcdcd
        font-weight 600
      .special-price, .regular-price
        .label
          font-size 1.2rem
          color #172B56
          font-weight 700
        .price
          color #172b56
          font-size 1.3rem
    .product__name:after
      display none 
  .price-box-avista
    display block
    text-align center


/*
* Carrinho
*/
.checkout-cart-index
  .main-container
    .products
      .owl-wrapper-outer
        .products__case
          flex-flow column nowrap
          button
            color #ffffff
    #cart_update_post
      .cart-table
        header
          color #ffffff
    .cart__boxes
      button
        color #ffffff
/*
* Login/Cadastro
*/
.customer-account-login
  .main-container
    .accountlogin__registered
      button
        color #ffffff

/*
* State
* Estado global do Layout
*/
.screen-size
  max-width 65rem
  margin 0 auto
  min-width 0
  width auto
/*
* Theme
* Customização de components ou layout, hacks !importants e etc
*/

/*
* Responsive Menu Navigation
*/

